<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span></li><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [17]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [18]:
# your code here
df_orders = pd.read_csv('orders.csv')
df_orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [19]:
print(df_orders)

       Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
0               0     536365    85123A  2010     12    3     8
1               1     536365     71053  2010     12    3     8
2               2     536365    84406B  2010     12    3     8
3               3     536365    84029G  2010     12    3     8
4               4     536365    84029E  2010     12    3     8
...           ...        ...       ...   ...    ...  ...   ...
72778      112199     545872     82552  2011      3    1    14
72779      112200     545872     22245  2011      3    1    14
72780      112201     545872     22243  2011      3    1    14
72781      112202     545872     22244  2011      3    1    14
72782      112203     545872    46000R  2011      3    1    14

                               Description  Quantity          InvoiceDate  \
0       white hanging heart t-light holder         6  2010-12-01 08:26:00
1                      white metal lantern         6  2010-12-01 08:26:00
2           cream cupid hearts coat hanger         8  2010-12-01 08:26:00
3      knitted union flag hot water bottle         6  2010-12-01 08:26:00
4           red woolly hottie white heart.         6  2010-12-01 08:26:00
...                                    ...       ...                  ...
72778                  washroom metal sign         2  2011-03-07 14:51:00
72779         hook, 1 hanger ,magic garden         3  2011-03-07 14:51:00
72780    5 hook hanger red magic toadstool         3  2011-03-07 14:51:00
72781           3 hook hanger magic garden         3  2011-03-07 14:51:00
72782         polyester filler pad 45x30cm         2  2011-03-07 14:51:00

       UnitPrice  CustomerID         Country  amount_spent
0           2.55       17850  United Kingdom         15.30
1           3.39       17850  United Kingdom         20.34
2           2.75       17850  United Kingdom         22.00
3           3.39       17850  United Kingdom         20.34
4           3.39       17850  United Kingdom         20.34
...          ...         ...             ...           ...
72778       1.45       15752  United Kingdom          2.90
72779       0.85       15752  United Kingdom          2.55
72780       1.65       15752  United Kingdom          4.95
72781       1.95       15752  United Kingdom          5.85
72782       1.45       15752   United Kingdo           NaN

[72783 rows x 14 columns]

In [27]:
df_orders.columns.shape
df_orders.columns

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'year', 'month', 'day', 'hour',
       'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID',
       'Country', 'amount_spent'],
      dtype='object')

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [23]:
# your code here
agg_spent = df_orders.groupby('CustomerID')['amount_spent'].sum()
agg_spent.head()

CustomerID
12346    77183.60
12347     1187.18
12348     1120.24
12350      334.40
12352     1281.15
Name: amount_spent, dtype: float64

In [24]:
agg_spent = df_orders.groupby('CustomerID')['amount_spent'].sum()
print(agg_spent)

CustomerID
12346    77183.60
12347     1187.18
12348     1120.24
12350      334.40
12352     1281.15
           ...
18259      376.30
18260      787.77
18269      168.60
18280      180.60
18283      317.90
Name: amount_spent, Length: 1786, dtype: float64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [21]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [22]:
# your code here