# Analyse des ventes

Import Panda _ Import Numpy _ Import Matplotlib

In [15]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

Installer un lecteur de fichier xlsx

In [8]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

Lire le fichier xlsx

In [9]:
# Lire le fichier Excel
df = pd.read_excel('data/ventes.xlsx')

In [11]:
# Lire le fichier Excel
df = pd.read_excel('data/produits.xlsx')

In [12]:
# Lire le fichier Excel
df = pd.read_excel('data/clients.xlsx')

Convertir le xlsx en csv

In [10]:
# Convertir et Sauvegarder le fichier xlsx en CSV
df.to_csv('data/ventes.csv', index=False)

In [13]:
df.to_csv('data/produits.csv', index=False)

In [14]:
df.to_csv('data/clients.csv', index=False)

Analyser le fichier des ventes

In [16]:
df_ventes = pd.read_csv('data/ventes.csv')

In [17]:
print(df_ventes.head())

  id_prod                        date session_id client_id
0  0_1483  2021-04-10 18:37:28.723910    s_18746    c_4450
1   2_226  2022-02-03 01:55:53.276402   s_159142     c_277
2   1_374  2021-09-23 15:13:46.938559    s_94290    c_4270
3  0_2186  2021-10-17 03:27:18.783634   s_105936    c_4597
4  0_1351  2021-07-17 20:34:25.800563    s_63642    c_1242

In [18]:
print(df_ventes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337016 entries, 0 to 337015
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     337016 non-null  object
 1   date        337016 non-null  object
 2   session_id  337016 non-null  object
 3   client_id   337016 non-null  object
dtypes: object(4)
memory usage: 10.3+ MB
None

In [56]:
print(len(df_ventes))
# Il y a 323961 lignes dans le fichier ventes

323961

Convertir la colonne "date" en "datetime"

In [ ]:
# df_ventes['date'] = pd.to_datetime(df_ventes['date']) il y a une erreur dans la conversion de la colonne date
# Afficher la ligne problématique (position 1431)
print(df_ventes.iloc[1431]['date'])

test_2021-03-01 02:30:02.237420

In [21]:
df_ventes['date'] = df_ventes['date'].str.replace('test_', '')

In [22]:
df_ventes['date'] = pd.to_datetime(df_ventes['date'], format='%Y-%m-%d %H:%M:%S.%f')

In [23]:
print(df_ventes['date'])

0        2021-04-10 18:37:28.723910
1        2022-02-03 01:55:53.276402
2        2021-09-23 15:13:46.938559
3        2021-10-17 03:27:18.783634
4        2021-07-17 20:34:25.800563
                    ...
337011   2021-05-28 12:35:46.214839
337012   2021-06-19 00:19:23.917703
337013   2021-03-16 17:31:59.442007
337014   2021-10-30 16:50:15.997750
337015   2021-06-26 14:38:19.732946
Name: date, Length: 337016, dtype: datetime64[ns]

In [25]:
print(df_ventes.iloc[1431]['date'])

2021-03-01 02:30:02.237420

In [24]:
print(df_ventes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337016 entries, 0 to 337015
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     337016 non-null  object
 1   date        337016 non-null  datetime64[ns]
 2   session_id  337016 non-null  object
 3   client_id   337016 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 10.3+ MB
None

Vérifier les autres colonnes id_prod, session_id, client_id

In [26]:
print(df_ventes['id_prod'].head())

0    0_1483
1     2_226
2     1_374
3    0_2186
4    0_1351
Name: id_prod, dtype: object

Vérifier les valeurs unique dans id_prod

In [27]:
print(df_ventes['id_prod'].nunique())  # Nombre d'identifiants uniques

3266

In [28]:
print(df_ventes['id_prod'].value_counts().head())  # Fréquence des plus communs

id_prod
1_369    1081
1_417    1062
1_498    1036
1_414    1027
1_425    1013
Name: count, dtype: int64

isoler le numéro après l'underscore

In [29]:
df_ventes['id_prod_num'] = df_ventes['id_prod'].str.split('_').str[1].astype(int)

In [30]:
print(df_ventes['id_prod_num'].head())

0    1483
1     226
2     374
3    2186
4    1351
Name: id_prod_num, dtype: int64

In [31]:
df_ventes['id_prod_num'] = df_ventes['id_prod_num'].astype('int32')

In [32]:
print(df_ventes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337016 entries, 0 to 337015
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id_prod      337016 non-null  object
 1   date         337016 non-null  datetime64[ns]
 2   session_id   337016 non-null  object
 3   client_id    337016 non-null  object
 4   id_prod_num  337016 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(3)
memory usage: 11.6+ MB
None

Vérification des autres colonnes

In [33]:
print(df_ventes['session_id'].head())

0     s_18746
1    s_159142
2     s_94290
3    s_105936
4     s_63642
Name: session_id, dtype: object

In [ ]:
# on constate que la session_id: format s_ + numéro unique

In [34]:
print(df_ventes['session_id'].nunique())

169195

In [ ]:
# Il y a 169 195 identifiants de session uniques sur 337 016 lignes, ce qui signifie 
# qu'il y a des sessions avec plusieurs entrées (ventes multiples par session, par #exemple).

In [36]:
print(df_ventes['session_id'].value_counts().head(10))  
# Top 10 des sessions les plus fréquentes

session_id
s_0         200
s_118668     14
s_21005      13
s_96857      13
s_93892      12
s_168560     12
s_137262     11
s_86536      11
s_129114     11
s_163784     11
Name: count, dtype: int64

In [37]:
print(df_ventes[df_ventes['session_id'] == 's_18746'])

       id_prod                       date session_id client_id  id_prod_num
0       0_1483 2021-04-10 18:37:28.723910    s_18746    c_4450         1483
140432   1_685 2021-04-10 18:25:09.319011    s_18746    c_4450          685
164513  0_1395 2021-04-10 18:32:27.342375    s_18746    c_4450         1395

synthèse de la colonne "session_id"

In [39]:
print(df_ventes.session_id.info())

<class 'pandas.core.series.Series'>
RangeIndex: 337016 entries, 0 to 337015
Series name: session_id
Non-Null Count   Dtype
--------------   -----
337016 non-null  object
dtypes: object(1)
memory usage: 2.6+ MB
None

Analyser les autres colonnes

In [38]:
print(df_ventes['client_id'].head())

0    c_4450
1     c_277
2    c_4270
3    c_4597
4    c_1242
Name: client_id, dtype: object

In [40]:
print(df_ventes['client_id'].nunique())

8602

In [41]:
print(df_ventes['client_id'].value_counts().head(10))  
# Top 10 des clients les plus fréquents

client_id
c_1609    12855
c_6714     4473
c_3454     3275
c_4958     2562
c_2140      195
c_7959      195
c_8026      193
c_2595      193
c_3725      190
c_7421      189
Name: count, dtype: int64

In [42]:
print(df_ventes.client_id.info())

<class 'pandas.core.series.Series'>
RangeIndex: 337016 entries, 0 to 337015
Series name: client_id
Non-Null Count   Dtype
--------------   -----
337016 non-null  object
dtypes: object(1)
memory usage: 2.6+ MB
None

Conclusion jusqu'ici

In [57]:
print(len(df_ventes))
# Il y a 323961 lignes dans le fichier ventes

323961

In [43]:
df_ventes.describe(include='all')

,id_prod,date,session_id,client_id,id_prod_num
count,337016,337016,337016,337016,337016.000000
unique,3266,NaN,169195,8602,NaN
top,1_369,NaN,s_0,c_1609,NaN
freq,1081,NaN,200,12855,NaN
mean,NaN,2021-09-02 23:36:14.710825216,NaN,NaN,1021.670102
min,NaN,2021-03-01 00:01:07.843138,NaN,NaN,0.000000
25%,NaN,2021-05-30 17:03:33.746926592,NaN,NaN,414.000000
50%,NaN,2021-09-07 02:42:00.239463680,NaN,NaN,1143.000000
75%,NaN,2021-12-08 03:28:22.504391168,NaN,NaN,1474.000000
max,NaN,2022-02-28 23:59:58.040472,NaN,NaN,2307.000000
std,NaN,NaN,NaN,NaN,612.277388

Investigate pour s_0 et c_1609

In [44]:
print(df_ventes[df_ventes['session_id'] == 's_0'].head(10))  
# Vérifier les lignes pour s_0

      id_prod                       date session_id client_id  id_prod_num
1431      T_0 2021-03-01 02:30:02.237420        s_0      ct_1            0
2365      T_0 2021-03-01 02:30:02.237446        s_0      ct_1            0
2895      T_0 2021-03-01 02:30:02.237414        s_0      ct_1            0
5955      T_0 2021-03-01 02:30:02.237441        s_0      ct_0            0
7283      T_0 2021-03-01 02:30:02.237434        s_0      ct_1            0
13745     T_0 2021-03-01 02:30:02.237443        s_0      ct_0            0
20470     T_0 2021-03-01 02:30:02.237442        s_0      ct_0            0
22347     T_0 2021-03-01 02:30:02.237412        s_0      ct_1            0
26359     T_0 2021-03-01 02:30:02.237439        s_0      ct_1            0
26407     T_0 2021-03-01 02:30:02.237426        s_0      ct_0            0

In [47]:
print(df_ventes[df_ventes['client_id'] == 'c_1609'].head(10))  
# Vérifier les lignes pour c_1609

    id_prod                       date session_id client_id  id_prod_num
62   0_1420 2021-11-23 15:03:23.901688   s_123928    c_1609         1420
64    1_281 2021-12-01 01:18:04.655872   s_127578    c_1609          281
83   0_1579 2021-05-03 19:46:14.181245    s_29458    c_1609         1579
99    1_414 2022-02-23 05:56:09.841213   s_169492    c_1609          414
101  0_1163 2021-06-24 03:10:06.949281    s_52929    c_1609         1163
145  0_1208 2022-01-01 20:33:02.227704   s_143535    c_1609         1208
174    1_29 2021-06-08 16:34:34.024441    s_45871    c_1609           29
272  0_1559 2022-01-30 14:42:39.759354   s_157449    c_1609         1559
290   1_311 2021-05-23 14:04:54.397922    s_38462    c_1609          311
291  0_1479 2021-07-12 22:18:17.451341    s_61450    c_1609         1479

Filtrage

In [59]:
df_ventes = df_ventes[df_ventes['session_id'] != 's_0']

In [60]:
df_ventes = df_ventes[df_ventes['client_id'] != 'c_1609']

In [46]:
df_ventes.session_id.describe(include='all')

count       336816
unique      169194
top       s_118668
freq            14
Name: session_id, dtype: object

In [49]:
df_ventes.client_id.describe(include='all')

count     323961
unique      8599
top       c_6714
freq        4473
Name: client_id, dtype: object

Conclusion à ce stade

In [50]:
df_ventes.describe(include='all')

,id_prod,date,session_id,client_id,id_prod_num
count,323961,323961,323961,323961,323961.000000
unique,3263,NaN,163693,8599,NaN
top,1_369,NaN,s_118668,c_6714,NaN
freq,1054,NaN,14,4473,NaN
mean,NaN,2021-09-03 02:24:03.384141568,NaN,NaN,1014.610478
min,NaN,2021-03-01 00:01:07.843138,NaN,NaN,0.000000
25%,NaN,2021-05-30 22:31:01.628747008,NaN,NaN,412.000000
50%,NaN,2021-09-06 23:48:11.058424064,NaN,NaN,1133.000000
75%,NaN,2021-12-08 08:11:52.855463936,NaN,NaN,1472.000000
max,NaN,2022-02-28 23:59:58.040472,NaN,NaN,2307.000000
std,NaN,NaN,NaN,NaN,613.044190

In [61]:
print(len(df_ventes))

323961

Investigate pour s_118668 et c_6714

In [51]:
print(df_ventes[df_ventes['session_id'] == 's_118668'].head(14))  
# Vérifier les lignes pour s_118668

       id_prod                       date session_id client_id  id_prod_num
32767   0_1108 2021-11-12 20:20:33.659396   s_118668    c_5995         1108
37741   0_1334 2021-11-12 20:08:40.783542   s_118668    c_5995         1334
56278   0_1400 2021-11-12 21:24:36.491177   s_118668    c_5995         1400
107722   2_209 2021-11-12 20:00:00.956739   s_118668    c_5995          209
111473    1_81 2021-11-12 20:24:02.266858   s_118668    c_5995           81
120480  0_1430 2021-11-12 20:36:39.252082   s_118668    c_5995         1430
133028  0_1488 2021-11-12 20:23:50.319430   s_118668    c_5995         1488
156789  0_1089 2021-11-12 20:02:54.200624   s_118668    c_5995         1089
158735   1_498 2021-11-12 20:18:11.950251   s_118668    c_5995          498
167546  0_1564 2021-11-12 20:09:17.901543   s_118668    c_5995         1564
181551   1_396 2021-11-12 20:54:33.612303   s_118668    c_5995          396
239700   1_293 2021-11-12 21:23:52.304426   s_118668    c_5995          293
244755  0_1519 2021-11-12 20:01:58.131234   s_118668    c_5995         1519
334671  0_1612 2021-11-12 20:27:59.185956   s_118668    c_5995         1612