# Analyse des ventes

Import Panda _ Import Numpy _ Import Matplotlib

In [21]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

Installer un lecteur de fichier xlsx

In [2]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

Lire le fichier xlsx

In [3]:
# Lire le fichier Excel
df = pd.read_excel('data/ventes.xlsx')

In [4]:
# Lire le fichier Excel
df = pd.read_excel('data/produits.xlsx')

In [5]:
# Lire le fichier Excel
df = pd.read_excel('data/clients.xlsx')

Convertir le xlsx en csv

In [6]:
# Convertir et Sauvegarder le fichier xlsx en CSV
df.to_csv('data/ventes.csv', index=False)

In [7]:
df.to_csv('data/produits.csv', index=False)

In [8]:
df.to_csv('data/clients.csv', index=False)

Analyser le fichier des ventes

In [9]:
df_ventes = pd.read_csv('data/ventes.csv')

In [10]:
print(df_ventes.head())

  client_id sex  birth
0    z_4410   f   1967
1      7839   f   1975
2    c_1699   f   1984
3    c_5961   g   1962
4    c_5320   m   1943

In [11]:
print(df_ventes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8623 entries, 0 to 8622
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  8623 non-null   object
 1   sex        8623 non-null   object
 2   birth      8623 non-null   int64
dtypes: int64(1), object(2)
memory usage: 202.2+ KB
None

In [12]:
print(len(df_ventes))
# Il y a 323961 lignes dans le fichier ventes

8623

Convertir la colonne "date" en "datetime"

In [19]:
print(df_ventes.columns)

Index(['client_id', 'sex', 'birth'], dtype='object')

In [20]:
df_ventes.head()

  client_id sex  birth
0    z_4410   f   1967
1      7839   f   1975
2    c_1699   f   1984
3    c_5961   g   1962
4    c_5320   m   1943

In [22]:
df_ventes.describe(include='all')

       client_id   sex        birth
count       8623  8623  8623.000000
unique      8623     3          NaN
top         c_84     f          NaN
freq           1  4490          NaN
mean         NaN   NaN  1977.372376
std          NaN   NaN    54.363542
min          NaN   NaN -1967.000000
25%          NaN   NaN  1966.000000
50%          NaN   NaN  1979.000000
75%          NaN   NaN  1992.000000
max          NaN   NaN  2004.000000