In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df_bookBycat = pd.read_csv('books_by_category_with_titles.csv')
df_bookBycat

,Category,Number of Books,Book Titles
0,Travel,0,[]
1,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
2,Historical Fiction,26,"['Tipping the Velvet', 'Forever and Forever: T..."
3,Sequential Art,75,"[""Scott Pilgrim's Precious Little Life (Scott ..."
4,Classics,0,[]
5,Philosophy,0,[]
6,Romance,35,"['Chase Me (Paris Nights #2)', 'Black Dust', '..."
7,Womens Fiction,0,[]
8,Fiction,65,"['Soumission', 'Private Paris (Private #10)', ..."
9,Childrens,29,"['Birdsong: A Story in Pictures', 'The Bear an..."
10,Religion,0,[]
11,Nonfiction,110,['Worlds Elsewhere: Journeys Around Shakespear...
12,Music,0,[]
13,Default,152,['The Coming Woman: A Novel Based on the Life ...
14,Science Fiction,0,[]
15,Sports and Games,0,[]
16,Add a comment,67,['The Torch Is Passed: A Harding Family Story'...
17,Fantasy,48,"['Unicorn Tracks', 'Saga, Volume 6 (Saga (Coll..."
18,New Adult,0,[]
19,Young Adult,54,"['The Requiem Red', 'Set Me Free', 'The Natura..."
20,Science,0,[]
21,Poetry,0,[]
22,Paranormal,0,[]
23,Art,0,[]
24,Psychology,0,[]
25,Autobiography,0,[]
26,Parenting,0,[]
27,Adult Fiction,0,[]
28,Humor,0,[]
29,Horror,0,[]
30,History,0,[]
31,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...
32,Christian Fiction,0,[]
33,Business,0,[]
34,Biography,0,[]
35,Thriller,0,[]
36,Contemporary,0,[]
37,Spirituality,0,[]
38,Academic,0,[]
39,Self Help,0,[]
40,Historical,0,[]
41,Christian,0,[]
42,Suspense,0,[]
43,Short Stories,0,[]
44,Novels,0,[]
45,Health,0,[]
46,Politics,0,[]
47,Cultural,0,[]
48,Erotica,0,[]
49,Crime,0,[]

In [5]:
df_bookWithCat = pd.read_csv(('books_with_categories.csv'))
df_bookWithCat

,Unnamed: 0,title,rating,price,availability,category
0,0,Sharp Objects,Four,47.82,In stock,Mystery
1,1,"In a Dark, Dark Wood",One,19.63,In stock,Mystery
2,2,The Past Never Ends,Four,56.50,In stock,Mystery
3,3,A Murder in Time,One,16.64,In stock,Mystery
4,4,The Murder of Roger Ackroyd (Hercule Poirot #4),Four,44.10,In stock,Mystery
...,...,...,...,...,...,...
718,718,Mexican Today: New and Rediscovered Recipes fo...,Five,24.91,In stock,Food and Drink
719,719,Vegan Vegetarian Omnivore: Dinner for Everyone...,Two,13.66,In stock,Food and Drink
720,720,The Smitten Kitchen Cookbook,One,23.59,In stock,Food and Drink
721,721,"The Art of Simple Food: Notes, Lessons, and Re...",Three,34.32,In stock,Food and Drink
722,722,Hungry Girl Clean & Hungry: Easy All-Natural R...,Three,33.14,In stock,Food and Drink

In [16]:
# drop the column "Unnamed"
# df_bookWithCat = df_bookWithCat.drop(columns=['Unnamed: 0'])
# df_bookWithCat

In [12]:
# ajouter une colonne
# df_bookWithCat['new_column'] = 0

In [13]:
# Delete the column
# df_bookWithCat = df_bookWithCat.drop(columns=['new_column'])
# df_bookWithCat

In [7]:
df_bookWithCat = df_bookWithCat.rename(columns={'category': 'Category'})
df_bookWithCat

,title,rating,price,availability,Category
0,Sharp Objects,Four,47.82,In stock,Mystery
1,"In a Dark, Dark Wood",One,19.63,In stock,Mystery
2,The Past Never Ends,Four,56.50,In stock,Mystery
3,A Murder in Time,One,16.64,In stock,Mystery
4,The Murder of Roger Ackroyd (Hercule Poirot #4),Four,44.10,In stock,Mystery
...,...,...,...,...,...
718,Mexican Today: New and Rediscovered Recipes fo...,Five,24.91,In stock,Food and Drink
719,Vegan Vegetarian Omnivore: Dinner for Everyone...,Two,13.66,In stock,Food and Drink
720,The Smitten Kitchen Cookbook,One,23.59,In stock,Food and Drink
721,"The Art of Simple Food: Notes, Lessons, and Re...",Three,34.32,In stock,Food and Drink
722,Hungry Girl Clean & Hungry: Easy All-Natural R...,Three,33.14,In stock,Food and Drink

In [22]:
# Merge the two df
df_merge = df_bookWithCat.merge(df_bookBycat, on='Category', how='left')
df_merge

,title,rating,price,availability,Category,Number of Books,Book Titles
0,Sharp Objects,Four,47.82,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
1,"In a Dark, Dark Wood",One,19.63,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
2,The Past Never Ends,Four,56.50,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
3,A Murder in Time,One,16.64,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
4,The Murder of Roger Ackroyd (Hercule Poirot #4),Four,44.10,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
...,...,...,...,...,...,...,...
718,Mexican Today: New and Rediscovered Recipes fo...,Five,24.91,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...
719,Vegan Vegetarian Omnivore: Dinner for Everyone...,Two,13.66,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...
720,The Smitten Kitchen Cookbook,One,23.59,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...
721,"The Art of Simple Food: Notes, Lessons, and Re...",Three,34.32,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...
722,Hungry Girl Clean & Hungry: Easy All-Natural R...,Three,33.14,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...

In [25]:
# display the first five rows
df_merge.head()

,title,rating,price,availability,Category,Number of Books,Book Titles
0,Sharp Objects,Four,47.82,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
1,"In a Dark, Dark Wood",One,19.63,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
2,The Past Never Ends,Four,56.50,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
3,A Murder in Time,One,16.64,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."
4,The Murder of Roger Ackroyd (Hercule Poirot #4),Four,44.10,In stock,Mystery,32,"['Sharp Objects', 'In a Dark, Dark Wood', 'The..."

In [26]:
# display the last five rows
df_merge.tail()

,title,rating,price,availability,Category,Number of Books,Book Titles
718,Mexican Today: New and Rediscovered Recipes fo...,Five,24.91,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...
719,Vegan Vegetarian Omnivore: Dinner for Everyone...,Two,13.66,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...
720,The Smitten Kitchen Cookbook,One,23.59,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...
721,"The Art of Simple Food: Notes, Lessons, and Re...",Three,34.32,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...
722,Hungry Girl Clean & Hungry: Easy All-Natural R...,Three,33.14,In stock,Food and Drink,30,['Foolproof Preserving: A Guide to Small Batch...

In [29]:
# display how many values are in "Category" column
df_merge.Category.value_counts()

Category
Default               152
Nonfiction            110
Sequential Art         75
Add a comment          67
Fiction                65
Young Adult            54
Fantasy                48
Romance                35
Mystery                32
Food and Drink         30
Childrens              29
Historical Fiction     26
Name: count, dtype: int64

In [34]:
# display how many NULL values are in "Category" column
# Both isna() and isnull() are identical functions 
# in pandas and will give you the same result when checking for NULL values.
na_Category_count = df_merge['Category'].isna().sum()
print(na_Category_count)

0

In [33]:
# display how many NULL values are in "Category" column
# There is no difference in the count they produce; 
# the choice between them is a matter of preference or coding style.
null_Category_count = df_merge['Category'].isnull().sum()
print(null_Category_count)

0